<html>
    <body>
        <h1>Oi, [NOME_USUARIO]!</h1>
        <h3>Sua conta no My School está quase pronta. Para ativá-la, por favor confirme o seu endereço de email clicando no link abaixo.</h3>
        <a href="http://localhost/MySchool/controller/confirmarEmail.php?t=[TOKEN]">Ativar minha conta/Confirmar meu email</a>
        <p>Sua conta não será ativada até que seu email seja confirmado.</p>
        <p>Se você não se cadastrou no MySchool recentemente, por favor ignore este email.</p>
    </body>
</html>


